[submodule "externel/SheepCommon"]
	path = externel/SheepCommon
	url = https://github.com/SheepYang1993/SheepCommon.git
	branch = master
[submodule "externel/SheepBmob"]
    path = externel/SheepBmob
    url = https://github.com/SheepYang1993/SheepBmob.git
    branch = master